# ----------------------- FCM extract configuration file -----------------------
cfg::type                   bld
cfg::version                1.0


# ------------------------------------------------------------------------------
# Build information
# ------------------------------------------------------------------------------

# INC /home/ds4g15/NEMO/dev_v3_4_STABLE_2012/NEMOGCM/TOOLS/COMPILE/arch_nemo.fcm # Start
# Mobilis - ClusterVision X86_64 cluster at NOCS
#
# Currently Loaded Modulefiles:
#   1) gcc/4.8.1                               
#   2) intel/compiler/64/14.0/2013_sp1.1.106
#   3) openmpi/intel/64/1.6.5
#
# NCDF_HOME   root directory containing lib and include subdirectories for netcdf4
# HDF5_HOME   root directory containing lib and include subdirectories for HDF5
# XIOS_HOME   root directory containing lib for XIOS
# OASIS_HOME  root directory containing lib for OASIS
#
# NCDF_INC    netcdf4 include file
# NCDF_LIB    netcdf4 library
# XIOS_INC    xios include file    (taken into accound only if key_iomput is activated)
# XIOS_LIB    xios library         (taken into accound only if key_iomput is activated)
# OASIS_INC   oasis include file   (taken into accound only if key_oasis3 is activated)
# OASIS_LIB   oasis library        (taken into accound only if key_oasis3 is activated)
#
# FC          Fortran compiler command
# FCFLAGS     Fortran compiler flags
# FFLAGS      Fortran 77 compiler flags
# LD          linker
# LDFLAGS     linker flags, e.g. -L<lib dir> if you have libraries
# FPPFLAGS    pre-processing flags
# AR          assembler
# ARFLAGS     assembler flags
# MK          make
# USER_INC    complete list of include files
# USER_LIB    complete list of libraries to pass to the linker
# CC          C compiler used to compile conv for AGRIF
# CFLAGS      compiler flags used with CC
#
# Note that:
#  - unix variables "$..." are accpeted and will be evaluated before calling fcm.
#  - fcm variables are starting with a % (and not a $)
#
%NCDF_HOME                  /home/acc/shared
%HDF5_HOME                  /home/acc/shared
%XIOS_HOME                  /home/acc/XIOS_1.0
%OASIS_HOME                 

%NCDF_INC                   -I/home/acc/shared/include
%NCDF_LIB                   -L/home/acc/shared/lib -lnetcdf -lnetcdff -lnetcdf -L/home/acc/shared/lib -lhdf5_hl -lhdf5 -lhdf5 -lcurl
%XIOS_INC                   -I/home/acc/XIOS_1.0/inc
%XIOS_LIB                   -L/home/acc/XIOS_1.0/lib -lxios
%OASIS_INC                  
%OASIS_LIB                  

%CPP                        cpp
%FC                         mpif90 -c -cpp
%FCFLAGS                    -i4 -r8 -O3 -fp-model source -xAVX
%FFLAGS                     -i4 -r8 -O3 -fp-model source -xAVX
%LD                         mpif90
%LDFLAGS                    -lstdc++
%FPPFLAGS                   -P -C -traditional
%AR                         ar
%ARFLAGS                    rs
%MK                         gmake
%USER_INC                   -I/home/acc/XIOS_1.0/inc  -I/home/acc/shared/include
%USER_LIB                   -L/home/acc/XIOS_1.0/lib -lxios  -L/home/acc/shared/lib -lnetcdf -lnetcdff -lnetcdf -L/home/acc/shared/lib -lhdf5_hl -lhdf5 -lhdf5 -lcurl

%CC                         cc
%CFLAGS                     -O0
# INC /home/ds4g15/NEMO/dev_v3_4_STABLE_2012/NEMOGCM/TOOLS/COMPILE/arch_nemo.fcm # End
# INC /home/ds4g15/NEMO/dev_v3_4_STABLE_2012/NEMOGCM/TOOLS/COMPILE/cpp.fcm # Start
bld::tool::fppkeys          key_trabbl key_orca_r2 key_lim2 key_dynspg_flt key_diaeiv key_ldfslp key_traldf_c2d key_traldf_eiv key_dynldf_c3d key_zdftke  key_zdftmx  key_mpp_mpi  key_mpp_rep key_nosignedzero key_tam key_diainstant
# INC /home/ds4g15/NEMO/dev_v3_4_STABLE_2012/NEMOGCM/TOOLS/COMPILE/cpp.fcm # End

search_src                  1

src::ioipsl                 /home/ds4g15/NEMO/dev_v3_4_STABLE_2012/NEMOGCM/EXTERNAL/IOIPSL/src
src::nemo                   /home/ds4g15/NEMO/dev_v3_4_STABLE_2012/NEMOGCM/CONFIG/TL_PASSIVE2/WORK

bld::target                 nemo.exe nemo_tam.exe
bld::exe_dep                


dir::root                   /home/ds4g15/NEMO/dev_v3_4_STABLE_2012/NEMOGCM/CONFIG/TL_PASSIVE2/BLD


bld::tool::fc               mpif90 -c -cpp
bld::tool::fflags           -i4 -r8 -O3 -fp-model source -xAVX -I/home/acc/XIOS_1.0/inc  -I/home/acc/shared/include
bld::tool::ld               mpif90
bld::tool::ldflags          -lstdc++ -L/home/acc/XIOS_1.0/lib -lxios  -L/home/acc/shared/lib -lnetcdf -lnetcdff -lnetcdf -L/home/acc/shared/lib -lhdf5_hl -lhdf5 -lhdf5 -lcurl
bld::tool::ar               ar
bld::tool::arflags          rs
bld::tool::make             gmake

# Pre-process code before analysing dependencies
bld::pp::ioipsl             1
bld::pp::nemo               1
bld::tool::fpp              /home/ds4g15/NEMO/dev_v3_4_STABLE_2012/NEMOGCM/TOOLS/COMPILE/agrifpp.sh
bld::tool::fppflags::nemo   10 -P -C -traditional
bld::tool::fppflags::ioipsl 0 -P -C -traditional

# Ignore the following dependencies
bld::excl_dep               inc::netcdf.inc
bld::excl_dep               inc::VT.inc
bld::excl_dep               use::netcdf
bld::excl_dep               h::netcdf.inc
bld::excl_dep               h::mpif.h
bld::excl_dep               inc::mpif.h
bld::excl_dep               inc::mpe_logf.h
bld::excl_dep               use::mpi
bld::excl_dep               use::mod_prism_proto
bld::excl_dep               use::mod_prism_def_partition_proto
bld::excl_dep               use::mod_prism_get_comm
bld::excl_dep               use::mod_prism_get_proto
bld::excl_dep               use::mod_prism_put_proto
bld::excl_dep               use::mod_comprism_proto
bld::excl_dep               use::mkl_dfti
# Don't generate interface files
bld::tool::geninterface     none

# Allow ".h90" as an extension for CPP include files
bld::infile_ext::h90        CPP::INCLUDE

# extension for module output
bld::outfile_ext::mod       .mod

# rename executable to nemo.exe
bld::exe_name::model        nemo.exe

